@model ReceiptListViewModel

@{
    ViewData["Title"] = "Receipts";
}

<div class="flex justify-between items-center mb-3">
    <h1>Receipts</h1>
    <a class="btn-primary" asp-action="Create" asp-controller="Receipts" asp-area="ReceiptManagement">Add</a>
</div>

<div class="flex flex-col gap-2">
    @foreach (var receipt in Model.Receipts)
    {
        <div class="p-3 rounded-lg border border-border flex flex-col justify-between gap-1">
            <div class="flex justify-between">
                <span class="font-bold">@receipt.StoreName</span>
                <span class="font-bold">@Html.DisplayFor(x => receipt.Date)</span>
            </div>
            <span class="text-muted">Paid by @receipt.PaidByPersonName</span>
            <div class="flex justify-end gap-4">
                <a asp-action="Index" asp-controller="ReceiptItems" asp-area="ReceiptManagement" asp-route-receiptId="@receipt.Id">
                    <i class="btn-icon fa fa-eye"></i>
                </a>
                <a asp-action="Delete" asp-controller="Receipts" asp-area="ReceiptManagement" asp-route-id="@receipt.Id">
                    <i class="btn-icon fa fa-trash"></i>
                </a>
            </div>
        </div>
    }
</div>