@model ReceiptItemListViewModel

<div class="flex justify-between items-center mb-3">
    <h1>Receipt Items</h1>
    <a class="btn-primary" asp-action="Create" asp-controller="ReceiptItems" asp-area="ReceiptManagement" asp-route-receiptId="@Model.ReceiptId">Add</a>
</div>

<a asp-action="Index" asp-controller="Receipts" asp-area="ReceiptManagement" class="block mb-3">
    <i class="btn-icon fa fa-arrow-left-long"></i>
</a>

<div class="flex flex-col gap-2 mb-2 p-3 border-b border-border">
    <div class="flex justify-between">
        <span class="font-bold">@Model.ReceiptStoreName</span>
        <span class="font-bold">@Html.DisplayFor(x => x.ReceiptDate)</span>
    </div>
    <span class="text-muted">Paid by @Model.ReceiptPaidByPersonName</span>
</div>

<div class="flex flex-col gap-2">
    @foreach (var receiptItem in Model.ReceiptItems)
    {
        <div class="p-3 rounded-lg border border-border flex flex-col justify-between gap-1">
            <span>Product: @receiptItem.ProductName</span>
            <span>Taxes: @string.Join(',', receiptItem.TaxNames)</span>
            <span>People: @string.Join(',', receiptItem.PeopleNames)</span>
            <span>Qty: @receiptItem.Quantity</span>
            <span>Price: @receiptItem.UnitPrice.ToString("C")</span>
            <span>Discount: @receiptItem.UnitDiscount?.ToString("C")</span>
        </div>
    }
</div>