@inject IStringLocalizer<SharedResource> Loc
@model TaxListViewModel

@{
    ViewData["Title"] = Loc["Facturio_Taxes"];
}

<div class="flex justify-between items-center mb-3">
    <h1>@Loc["Facturio_Taxes"]</h1>
    <a class="btn-primary" asp-action="Create">@Loc["Add"]</a>
</div>

<div class="flex flex-col gap-2">
    @foreach (var tax in Model.Taxes)
    {
        <div class="p-3 rounded-lg border border-border flex flex-col justify-between gap-1">
            <div class="flex justify-between">
                <span class="font-bold">@Html.DisplayFor(x => tax.Name)</span>
                <span class="font-bold">@Html.DisplayFor(x => tax.FormattedValue)</span>
            </div>
            <div>
                <span>@Html.DisplayFor(x => tax.Description)</span>
            </div>
            <div class="flex justify-between">
                <div class="flex gap-3">
                    <a asp-action="Edit" asp-route-id="@tax.Id">
                        <i class="btn-icon fa fa-edit"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@tax.Id">
                        <i class="btn-icon fa fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</div>