@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool IsActiveUrl(string action, string controller, string area)
    {
        return action == (string?)ViewContext.RouteData.Values["action"] &&
               controller == (string?)ViewContext.RouteData.Values["controller"] &&
               area == (string?)ViewContext.RouteData.Values["area"];

    }
}

<div x-data="{ menuOpen: false }" class="h-full w-full">
    <div x-show="menuOpen" class="fixed top-16 w-full bg-dark z-50 p-3 flex flex-col justify-center items-center gap-8">
        <a asp-action="Index" asp-controller="Taxes" asp-area="ReceiptManagement" class="flex flex-col items-center gap-2 @(IsActiveUrl("Index", "Taxes", "ReceiptManagement") ? "text-muted" : "text-light")">
            <i class="fa-solid fa-money-bill text-xl"></i>
            <span class="text-xs">Taxes</span>
        </a>
        <a asp-action="Index" asp-controller="People" asp-area="ReceiptManagement" class="flex flex-col items-center gap-2 @(IsActiveUrl("Index", "People", "ReceiptManagement") ? "text-muted" : "text-light")">
            <i class="fa-solid fa-people-group text-xl"></i>
            <span class="text-xs">People</span>
        </a>
        <a asp-action="Index" asp-controller="StoreCategories" asp-area="ReceiptManagement" class="flex flex-col items-center gap-2 @(IsActiveUrl("Index", "StoreCategories", "ReceiptManagement") ? "text-muted" : "text-light")">
            <i class="fa-solid fa-tag text-xl"></i>
            <span class="text-xs">Store Categories</span>
        </a>
        <a asp-action="Index" asp-controller="Stores" asp-area="ReceiptManagement" class="flex flex-col items-center gap-2 @(IsActiveUrl("Index", "Stores", "ReceiptManagement") ? "text-muted" : "text-light")">
            <i class="fa-solid fa-store text-xl"></i>
            <span class="text-xs">Stores</span>
        </a>
        <a asp-action="Index" asp-controller="Products" asp-area="ReceiptManagement" class="flex flex-col items-center gap-2 @(IsActiveUrl("Index", "Products", "ReceiptManagement") ? "text-muted" : "text-light")">
            <i class="fa-solid fa-boxes-stacked text-xl"></i>
            <span class="text-xs">Products</span>
        </a>
    
        <button class="text-center btn-icon text-light" x-on:click="menuOpen = false">
            <i class="fa fa-xmark"></i>
        </button>
    </div>

    <div class="mb-16">
        @RenderBody()
    </div>

    <div class="fixed bottom-0 w-full h-16 z-50 flex justify-center">
        <nav class="w-full px-12 bg-dark flex justify-around items-center text-center gap-4">
            <a asp-action="Index" asp-controller="Home" asp-area="ReceiptManagement" class="flex flex-col gap-2 @(IsActiveUrl("Index", "Home", "ReceiptManagement") ? "text-muted" : "text-light")">
                <i class="fa-solid fa-home text-xl"></i>
                <span class="text-xs">Home</span>
            </a>
            <a asp-action="Index" asp-controller="Receipts" asp-area="ReceiptManagement" class="flex flex-col gap-2 @(IsActiveUrl("Index", "Receipts", "ReceiptManagement") ? "text-muted" : "text-light")">
                <i class="fa-solid fa-receipt text-xl"></i>
                <span class="text-xs">Receipts</span>
            </a>
            <div x-on:click="menuOpen = true" class="flex flex-col cursor-pointer gap-2 text-light">
                <i class="fa-solid fa-ellipsis text-xl"></i>
                <span class="text-xs">More</span>
            </div>
        </nav>
    </div>
</div>